.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  margin: 0;
  padding-top: 26px;
  margin-bottom: 5px;
}

.advantages__title--first {
  padding-top: 54px;
}

.advantages__title--second {
  padding-top: 39px;

  margin-bottom: 5px;
}

/*.advantages__title--third {
  padding-bottom: 29px;
}*/

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: @light-black;

  //width: 280px;

  margin: 0 auto;
  margin-top: 14px;
  padding: 0 31px;
  padding-bottom: 28px;
}

/*.advantages__item--short .advantages__description {
  border-bottom: 1px solid #d6d6d6;
}*/

.advantages__item--short .advantages__description--last {
  border: none;
}

.advantages__item--short {
  background-color: @light-grey;

  position: relative;

  /*margin-bottom: 29px;*/
}

.advantages__item--short::after {
  content: "";
  width: 280px;
  height: 1px;
  background-color: #d6d6d6;

  position: absolute;
  left: 20px;
  bottom: 0;
}

.advantages__item--short:last-child::after {
  height: 0;
}

.advantages__item--blue,
.advantages__item--blue .advantages__description,
.advantages__item--blue .advantages__number {
  color: @white;
  background-color: @blue;

  //padding: 0;
}

.advantages__list {
  padding: 0;
  margin: 0;
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: @light-black;
}

.advantages__image {
  margin: 0 auto;
  padding: 0;

  width: 320px;
  height: 260px;
}

/*.advantages__image--city {
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.advantages__image--bridge {
  background-image: url("../img/main-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
}*/

.advantages__description--margin-bot {
  margin-bottom: 40px;

  padding: 0 20px;
}

.advantages__item-wrapper::before {
  content: "";

  position: absolute;

  display: block;

  width: 320px;
  height: 37px;

  margin: 0 auto;

  bottom: -24px;

  background-image: url("../../img/bg-triangle.svg");
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__title {
    font-size: 21px;

    width: 151px;
    margin: 0 auto;
    margin-bottom: 5px;

    padding-top: 45px;
  }

  .advantages__title--first,
  .advantages__title--second {
    padding-top: 45px;
  }

  .advantages__number {
    width: 165px;
    margin: 0 auto;
  }

  .advantages__description {
    margin-top: 20px;
    padding: 0 47px;
  }

  .advantages__description--middle-block {
    padding: 0 60px;
  }

  .advantages__item--short::after {
    height: 0;
  }

  .advantages__item-wrapper,
  .advantages__item--short {
    display: inline-block;
    width: 256px;
    text-align: center;
    flex-grow: 0;
  }

  .advantages__item--short {
    min-height: 255px;
  }

  .advantages__image {
    display: inline-block;
    flex-grow: 2;

    height: 256px;
  }

  .advantages__item--blue {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
  }

  .advantages__image--bridge {
    order: -1;
  }

  .advantages__image img {
    width: 512px;
  }

  .advantages__item-wrapper::before {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    margin: 0 auto;
  }

  .advantages__description {
    padding: 0 58px;
  }

  .advantages__description--second {
    padding: 0 82px;
  }

  .advantages__description--middle-block {
    padding: 0 70px;
  }

  .advantages__item-wrapper,
  .advantages__item--short {
    width: 400px;
  }

  .advantages__title--first,
  .advantages__title--second {
    padding-top: 52px;
  }

  .advantages__image img {
    width: 800px;
  }
}
