.booking__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.booking__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @light-black;
}

.booking {
  width: 280px;

  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .booking {
    width: 648px;
  }
}
