.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
  color: @white;

  text-transform: uppercase;

  background-color: @blue;

  border: none;

  .no-decoration();
}

.button--finder {
  display: inline-block;

  width: 280px;
  min-height: 21px;

  margin: 0 auto;
  margin-bottom: 49px;
  padding-top: 16px;
  padding-bottom: 16px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: #85b0cd;
    background-color: #5496bd;
  }
}

.button--review {
  width: 280px;
  min-height: 58px;

  padding: 0;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: #85b0cd;
    background-color: #5496bd;
  }

  &:disabled {
    color: @white;
    background-color: #e5e5e5;
  }
}

@media (min-width: @tablet-width) {
  .button--finder {
    width: 458px;

    margin-bottom: 57px;
  }
}

@media (min-width: @desktop-width) {
  .button--review {
    width: 480px;
  }

  .button--finder {
    margin-bottom: 66px;
  }
}
