.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: @white;

  background-color: @blue;

  .no-decoration();
}

.button--finder {
  display: inline-block;

  width: 280px;

  margin: 0 auto;
  margin-bottom: 49px;
  padding-top: 19px;
  padding-bottom: 20px;
}
