.feedback-form__fieldset-title {
  font-weight: 700;
}

.feedback-form__label--radio,
.feedback-form__label--checkbox {
  font-weight: 700;
  text-transform: none;
}

.feedback-form__label--input {
  font-size: 14px;
  line-height: 26px;
  color: @light-black;
}

.feedback-form__input-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
  border: none;
}

.feedback-form__textarea {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
  border: none;
}

.feedback-form__input-text::-webkit-input-placeholder,
.feedback-form__textarea::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
  background-color: #f2f2f2;
}

.feedback-form__input-text::-moz-placeholder,
.feedback-form__textarea::-moz-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
  background-color: #f2f2f2;
}

.feedback-form__input-text:-ms-input-placeholder,
.feedback-form__textarea:-ms-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
  background-color: #f2f2f2;
}

.feedback-form__input-text:-moz-placeholder,
.feedback-form__textarea:-moz-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
  background-color: #f2f2f2;
}

.feedback-form__input-text:focus {
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e5;

  background-color: @white;
}
