.fieldset__list--name li {
  margin-bottom: 18px;
}

.fieldset__list--impression li {
  min-height: 69px;

  padding-left: 78px;
}

.fieldset__list--sights li {
  min-height: 81px;

  padding-left: 79px;
}

.fieldset__list--contacts,
.fieldset__list--impression,
.fieldset__list--sights {
  text-align: left;

  //margin-bottom: 5px;
}

.fieldset__list--contacts label {
  padding-left: 21px;

  display: inline-block;

  margin-bottom: 6px;
}

/*.fieldset__list--impression li:last-child {
  padding-top: 1px;
}*/
