.gallery__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;

  text-align: left;
}

.gallery__author,
.gallery__likes {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @light-black;

  text-transform: none;

  text-align: left;
}

.gallery__likes {
  color: @black;
  font-weight: 700;
}

.gallery__like {
  display: flex;
}

.gallery__list {
  width: 320px;

  margin: 0 auto;
}

.gallery__item {
  padding: 0 20px;

  border-bottom: 1px solid #e5e5e5;
}

.gallery__link {
  display: block;

  //width: 280px;
  width: 100%;

  padding-top: 22px;
}

.gallery__like-button {
  .no-decoration();
}

@media (min-width: @tablet-width) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;

    width: 768px;
  }

  .gallery__link {
    padding-top: 0;
  }

  .gallery__item:first-child {
    width: 648px;

    //padding: 0 60px;
  }

  .gallery__item:nth-child(3) {
    padding: 0;
  }

  .gallery__item {
    width: 324px;

    padding: 0;
    padding-left: 60px;

    display: flex;
    flex-wrap: wrap;

    border: 0;
  }

  .gallery__wrapper {
    width: 100%;

    display: flex;
    justify-content: space-between;

    background-color: #f2f2f2;
  }

  .gallery__like {
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .gallery__list {
    width: 1200px;
  }

  .gallery__item {
    width: 400px;

    position: relative;

    padding: 0;
  }

  .gallery__item:first-child {
    width: 1200px;
  }

  .gallery__wrapper {
    position: absolute;

    bottom: 0;

    color: @white;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .gallery__author,
  .gallery__likes {
    color: inherit;
  }
}
