.intro__image-wrap--index {
  width: 320px;
  height: 387px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: -224px 0;
  background-repeat: no-repeat;
  //margin-bottom: 42px;
}

.intro__image-wrap {
  width: 320px;
  height: 160px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  //margin-bottom: 42px;
}

.intro__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  width: 280px;
  margin: 0 auto;
  margin-bottom: 27px;
  padding: 0 10px;
  padding-top: 40px;
}

.intro__subtitle {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: @light-black;

  width: 280px;
  margin: 0 auto;
  padding-bottom: 26px;
}

.intro__image {
  padding-top: 90px;
}

@media (min-width: @tablet-width) {
  .intro__image-wrap--index {
    width: 768px;
    height: 518px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    //margin-bottom: 42px;
  }

  .intro__title {
    width: 495px;
  }

  .intro__subtitle {
    width: 495px;
  }
}
