.intro__image-wrap {
  width: 320px;
  height: 389px;
  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-position: -224px 0;
  background-repeat: no-repeat;
}

.intro__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.intro__subtitle {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
