.text-wrap-desktop {
  display: none;
}

.more-advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  margin: 0;
  margin-bottom: 14px;
  padding-top: 28px;
}

.more-advantages__title--first {
  padding-top: 35px;
}

.more-advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: @light-black;

  margin: 0;
  padding-right: 18px;

  //width: 230px;
  //margin-bottom: 33px;
}

.more-advantages {
  color: @black;
  text-align: left;

  padding: 0;
  margin: 0;
  margin-bottom: 37px; //временно!

  background-color: @white;
}

.more-advantages__item {
  margin: 0 auto;

  width: 250px;

  position: relative;

  padding-left: 70px;
}

/*.more-advantages__description--last {
  margin-bottom: 40px;
}*/

.more-advantages__item::before {
  position: absolute;

  content: "";

  background-size: cover;
}

.more-advantages__item--accommodation::before {
  background-image: url("../img/icon-house.svg");
  top: 25px;
  left: 21px;
  width: 39px;
  height: 37px;
}

.more-advantages__item--souvenirs::before {
  background-image: url("../img/icon-gift.svg");

  top: 16px;
  left: 25px;
  width: 32px;
  height: 38px;
}

.more-advantages__item--food::before {
  background-image: url("../img/icon-burger.svg");

  top: 22px;
  left: 18px;
  width: 40px;
  height: 36px;
}

@media (min-width: @tablet-width) {
  .more-advantages {
    width: 100%;
    min-width: 768px;
    display: flex;
    align-items: flex-start;

    padding-top: 59px;
    margin-bottom: 0;

    min-height: 271px;
  }

  .more-advantages__item {
    display: inline-block;
    //width: 252px;  //c 256 перекидывается на следующую строку, не понимаю почему
    width: 33%;
    padding: 0;
    text-align: center;

    flex-grow: 1;
  }

  .more-advantages__title {
    font-size: 21px;
  }

  .more-advantages__title--first {
    padding-top: 28px;
  }

  .more-advantages__title,
  .more-advantages__description {
    //width: 165px;

    margin: 0 auto;
    margin-bottom: 20px;
  }

  .more-advantages__description {
    padding: 0 47px;
  }

  .more-advantages__description--last {
    padding: 0 50px;
  }

  .more-advantages__item::before {
    display: block;
    margin: 0 auto;
    position: static;
    content: "";
    background-size: cover;
  }

  .more-advantages__item--accommodation::before {
    background-image: url("../img/icon-house.svg");
    width: 75px;
    height: 72px;
  }

  .more-advantages__item--souvenirs::before {
    background-image: url("../img/icon-gift.svg");

    width: 64px;
    height: 75px;
  }

  .more-advantages__item--souvenirs .more-advantages__title {
    padding-top: 25px;
  }

  .more-advantages__item--food::before {
    background-image: url("../img/icon-burger.svg");

    width: 77px;
    height: 68px;

    padding-bottom: 2px;
  }

  .more-advantages__item--food .more-advantages__title {
    padding-top: 30px;
  }

  .more-advantages__item--souvenirs {
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .more-advantages__description {
    //width: 290px;
  }

  .text-wrap-desktop {
    display: inline;
  }
}
