.presentation__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  margin: 0;
  padding: 0 40px;
  padding-top: 33px;
}

.presentation__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @light-black;

  padding: 0 40px;
  padding-top: 26px;
  margin: 0;
  margin-bottom: 35px;
}

.presentation__video {
  margin-bottom: 134px;

  position: relative;
}

@media (min-width: @tablet-width) {
  .presentation__title {
    font-size: 30px;

    margin-bottom: 30px;
    padding-top: 17px;
  }

  .presentation__description {
    padding: 0 110px;
    margin-bottom: 73px;
  }

  .presentation {
    width: 648px;

    margin: 0 auto;
  }

  .presentation__video img {
    width: 648px;
  }

  .presentation__video {
    margin-bottom: 41px;
  }
}

@media (min-width: @desktop-width) {
  .presentation {
    width: 800px;
  }

  .presentation__description {
    padding: 0 185px;
  }

  .presentation__title {
    padding-top: 23px;
  }

  .presentation__video img {
    width: 800px;
    height: 500px;
  }

  .presentation__video {
    margin-bottom: 83px;
  }
}
